.about {
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(43, 43, 47, 1) 100%);
  color: white;
}

.about .container {
  /* max-width: 1240px; */
  margin: 0rem 1rem;
  padding: 2rem 0;
}

.about h2 {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
}

.about .container .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.about .card {
  border: 1px solid rgb(49, 52, 52);
  background-color: rgba(175, 175, 175, 0.269);
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 2);
  padding: 1rem;
}

.about img {
  border-radius: 10px;
  margin-top: -2rem;
  border: solid 1px black;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 2);
}

.about .card p {
  /* color: #232323;  */
  color: white;
  font-size: 1.1 rem;
  margin: 12px;
}

.about .card span {
  color: var(--primary-color);
  font-weight: 700;
}

.about .container .line {
  margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
  .about .container .content {
    grid-template-columns: 1fr;
  }

  .about .card {
    max-width: 100%;
    margin: 1rem;
  }
}
